DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/ahorraya
JWT_SECRET=cambia_esto_por_un_secreto_muy_largo_y_aleatorio
PORT=3001
FRONTEND_URL=http://localhost:5173
NODE_ENV=development

# Scraping
SCRAPING_INTERVAL_HOURS=6
SCRAPER_DELAY_MS=2000
TIA_MAX_PAGES=5
USE_MOCK_DATA=true

# Logs
LOG_LEVEL=info
